# Übungen zur Visualisierung mit D3

## Aufgabe 1 - Theorie

> Beantworten Sie die folgenden Fragen:
>> 1.1 Was sind die wesentlichen Ziele der explorativen Datenanalyse?
>>>  
* Erkennung von Datenfehlern, 
* Überprüfung von Annahmen, 
* Suche nach versteckten Mustern,
* Vorauswahl geeigneter Modelle, 
* Ermittlung von Beziehungen 

>> 1.2 Erklären Sie den Begriff *Enable* im Bezug auf die Success Regeln nach Hichert. Wie kann ein erfolgreiches *Enable* herbeigeführt werden?
>>> 
Bei Enable geht es um die geeignete Darstellung der Daten.
Das heisst: Abhängig von der Botschaft muss der richtige Diagramm-/ Tabellentyp gewählt werden.
Dabei muss Mensch sowie Organisation im Sinne der Empfängerorientierung berücksichtigt werden.<br>
Die Erzeugung mehrerer Prototypen, mit anschließender Auswahl, welche Darstellung die Botschaft samt Fakten am besten vermittelt. 

>> 1.3 Welche groben Fehler wurden in folgendem Bar Chart begangen?<br>
![SchlechterChart](img/badgraph.png) <center></center>

>>>* Beschriftungen sind zu groß und lenken von der Aussage ab.
* Diagrammtyp suggeriert Entwicklung (von links nach rechts).
* Farben.
* Unaussagekräftige Überschrift
* Hilfslinien
   

>> 1.4 Welcher Diagrammtyp würde sich besser eignen?

>>> z.B. Ein Horizontal Bar Chart

## Aufgabe 2 - nvd3
> 2.1 Binden Sie alle notwendigen Bibliotheken ein und binden sie das Datenset *Worldwide_InstantNoodleConsumption.csv* aus dem Data Ordner als Dataframe ein. <br>
 <a href="https://instantnoodles.org/en/noodles/market.html">Hier</a> kommen die Daten her. <br>
 
> 2.2 Lassen Sie sich die 10 Länder mit dem höchsten Verzehr an Instantnudeln anzeigen. <br>

> 2.3 Erstellen Sie nun mithilfe von nvd3 einen Bar Chart, welcher den Instantnudelverbrauch dieser 10 Länder im Jahre 2017 darstellt. <br> Achten Sie hierbei auf eine übersichtliche Darstellung mit angemessenem Titel. <br>

> 2.4 Erstellen Sie jetzt einen Multi-Bar-Chart, der den Verbrauch an Instantnudeln über den Zeitraum von 2014 bis 2017 in Deutschland mit dem in Polen vergleicht. Der Chart sollte nach Möglichkeit Stapelbar sein. <br>
**Hinweis**: der Einfachheit halber dürfen Sie den Chart auch manuell befüllen.

Antwort 2.1:

In [1]:
import numpy as np
import nvd3

loaded nvd3 IPython extension
run nvd3.ipynb.initialize_javascript() to set up the notebook
help(nvd3.ipynb.initialize_javascript) for options

In [2]:
import pandas as pd
import json

In [ ]:
Antwort 2.2:

In [3]:
from pandas.io.json import json_normalize

data = pd.read_csv('data/Worldwide_InstantNoodleConsumption.csv')
df = data.head(10)
dfAll = data
df

,Location,Servings_2014,Servings_2015,Servings_2016,Servings_2017
0,China/Hong Kong,44400,40430,38520,38970
1,Indonesia,13430,13430,13010,12620
2,Japan,5500,5540,5660,5660
3,India,5430,3260,4270,5420
4,Viet Nam,5000,4800,4920,5060
5,USA,4280,4080,4100,4130
6,Philippines,3320,3480,3410,3750
7,Republic of Korea,3590,3650,3830,3740
8,Thailand,3070,3070,3360,3390
9,Brazil,2370,2370,2530,2230

In [ ]:
Antwort 2.3:

In [4]:
from nvd3 import discreteBarChart
type = "Worldwide Instantnoodle Consumption in 2017 in Million Servings"
noodleChart = discreteBarChart(name='noodle', height=1500, width=1000, color_category="category20c")
noodleChart.set_containerheader("\n\n<h2>" + type + "</h2>\n\n")

xdata = []
ydata = []

noodleChart.add_serie( y=df.Servings_2017, x=df.Location)
extra_serie = {"tooltip": {"y_start": "", "y_end": " cal"}}
noodleChart.buildhtml()
charttop_html = noodleChart.htmlcontent
display (noodleChart.htmlcontent)

'<!DOCTYPE html>\n<html lang="en">\n    <head>\n        <meta charset="utf-8" />\n        <link href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.7.0/nv.d3.min.css" rel="stylesheet" />\n        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>\n        <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.7.0/nv.d3.min.js"></script>\n    </head>\n    <body>\n        \n    \n\n<h2>Worldwide Instantnoodle Consumption in 2017 in Million Servings</h2>\n\n<div id="noodle"><svg style="width:1000px;height:1500px;"></svg></div>\n\n\n    <script>\n\n\n\n                data_noodle=[{"values": [{"x": "China/Hong Kong", "y": 38970}, {"x": "Indonesia", "y": 12620}, {"x": "Japan", "y": 5660}, {"x": "India", "y": 5420}, {"x": "Viet Nam", "y": 5060}, {"x": "USA", "y": 4130}, {"x": "Philippines", "y": 3750}, {"x": "Republic of Korea", "y": 3740}, {"x": "Thailand", "y": 3390}, {"x": "Brazil", "y": 2230}], "key": "Serie 1", "yAxis": "1"}];\n\n\n            nv.addGraph(function() {\n        var chart = nv.models.discreteBarChart();\n\n        chart.margin({top: 30, right: 60, bottom: 20, left: 60});\n\n        var datum = data_noodle;\n\n        chart.color(d3.scale.category20c().range());\n\n\n                    chart.yAxis\n                .tickFormat(d3.format(\',.0f\'));\n\n    \n    \n\n        \n\n\n\n            d3.select(\'#noodle svg\')\n            .datum(datum)\n            .transition().duration(500)\n            .attr(\'width\', 1000)\n            .attr(\'height\', 1500)\n            .call(chart);\n\n    \n        });\n\n\n\n    </script>\n\n    </body>\n</html>'

In [6]:
from IPython.display import display, HTML
display(HTML(charttop_html))

Antwort 2.4:

In [11]:
gerPol = (dfAll[(dfAll.Location =="Germany") | (dfAll.Location=="Poland")])
gerPol

   Location  Servings_2014  Servings_2015  Servings_2016  Servings_2017
23   Poland            300            310            310            310
28  Germany            180            190            200            200

In [13]:
from nvd3 import multiBarChart
chart = multiBarChart(width=800, height=800, x_axis_format=None)
type ="Verzehr von Instantnudeln von Deutschland im Gegensatz zu Polen im Zeitraum von 2014 bis 2017 in Millionen Portionen "
xdata = ["Servings 2014", "Servings 2015", "Servings 2016", "Servings 2017"]
ydata1 = [300,310,310,310]
ydata2 = [180,190,200,200]
chart.set_containerheader("\n\n<h2>" + type + "</h2>\n\n")
chart.add_serie( name="Germany", y=ydata1, x=xdata)
chart.add_serie(name="Poland", y=ydata2, x=xdata)
chart.buildhtml()
chart_html = chart.htmlcontent
from IPython.display import display, HTML
display(HTML(chart_html))

## Aufgabe 3 - plotly
> 3.1 Binden Sie alle notwendigen Bibliotheken ein und erstellen Sie eine Heatmap, welche für eine Woche (Mo, Di,...,So) jeweils zu 3 Tageszeiten (morgens, mittags, abends) Temperaturen in Grad Celsius Darstellt. <br>
Die Temperaturen dürfen manuell eingetragen werden. <br>
Falls Sie sich keinen plotly Account erstellen möchten, dürfen Sie gerne meine Credentials verwenden: <br>

In [9]:
#plotly.tools.set_credentials_file(username='ThalerF', api_key='IMzec5DXDSp3NNvYrqxP')

In [140]:
import plotly
plotly.tools.set_credentials_file(username='ThalerF', api_key='IMzec5DXDSp3NNvYrqxP')

In [222]:
import plotly.plotly as py
import plotly.graph_objs as go

trace = go.Heatmap(z=[[13,10,12,9,14], [20,18,25,22,30], [26,22,20,11,20]],
                   x=['Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag'],
                   y=['Morgens', 'Mittags', 'Abends'])
data=[trace]
layout = go.Layout(
    title='Temperaturen in Grad Celsius nach Wochentagen und Tageszeiten ')
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='labelled-heatmap')